 *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
} 

.navbar{
  
  height: 80px;
  width: 100%; 
  display: flex; 
  justify-content: space-around;
  align-items: center; 
  
  background: #000000;
} 

 .navbar-brand{
  color: white;
  margin-right: 20px;
  letter-spacing: 5px;
  font-size: 30px;
  line-height: 80px;
  padding: 0 140px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
  
.nav-ul{
  float: right;
  margin-right: 70px;
}

.nav-item{
  display: inline-block;
  line-height: 80px;
  margin: 0 4px; 
}

 .nav-link{
  line-height: 200px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  padding: 7px 13px;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
} 

 .nav-link.active,.nav-link:hover{
  background: rgb(29, 28, 28);
  transition: .3s;
} 
  
.backg{
  height: 577px;
  width:100%;
  background-image: 
  url(./image/otso-face2.png);
  background-repeat: no-repeat;
  background-color: black;
  background-position: 840px 75px;
}

.a1Se1{
  position: absolute;
  height: 300px;
  left: -25px;
  top: 130px;
  right: 900px;
  width: 300px;
  font: small-caps bold 75px/1 'Oswald', sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 600px;
}

.a2Se1 {
  position: absolute;
  color: rgb(142, 255, 160);
  font: small-caps bold 70px/1 sans-serif;
  top: 150px;
  left: 320px;
}

.a3Se1{
  position: absolute;
  color: white;
  font: small-caps bold 50px/1 sans-serif;
  top: 230px;
  left: 265px;
}

.a4Se1{
  position: absolute;
  color: white;
  font: small-caps bold 85px/1 sans-serif;
  top: 230px;
  left: 380px;
}

.a5Se1{
  position: absolute;
  color:rgb(240, 68, 68);
  font:  bold 140px/1 'Oswald', sans-serif;
  left: 200px;
  top: 320px;
  text-transform: uppercase;
  letter-spacing: 300;
}