 *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
} 

.navbar{
  
  height: 80px;
  width: 100%; 
  display: flex; 
  justify-content: space-around;
  align-items: center; 
  
  background: #000000;
} 

 .navbar-brand{
  color: white;
  margin-right: 15px;
  letter-spacing: 5px;
  font-size: 30px;
  line-height: 80px;
  padding:  140px;
  font-weight: 850;
  text-transform: uppercase;
  font-family:  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
  
.nav-ul{
  float: right;
  margin-right: 70px;
}

.nav-item{
  display: inline-block;
  line-height: 80px;
  margin: 0 4px; 
}

 .nav-link{
  line-height: 200px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  padding: 7px 13px;
  border-radius: 3px;
  letter-spacing: 0.1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
} 

 .nav-link.active,.nav-link:hover{
  background: rgb(29, 28, 28);
  transition: .3s;
} 
  
.backg{
  height: 660px;
  width:100%;
  
}

.img {
  position: absolute;
  width: 382px;
  height: 400px;
  background: url(image/otso-face2.png);
  background-repeat: no-repeat;
  left: 880px;
  top: 150px;
}

.promptTitulo{
  position: absolute;
  width: 283px; 
  height: 42px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.22em;
  color: #000000;
  left: 170px;
  top: 140px;

}

.versionTxt{
  position: absolute;
  width: 327px;
  height: 37px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.22em;
  color:white;
  left: 185px;
  top: 169px;
}

.introTxt{
  position: absolute;
  width: 365px;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.22em;
  color:white;
  left: 185px;
  top: 205px;
}

.intro2Txt{
  position: absolute;
  width: 540px;
  height: 96px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  letter-spacing: 0.22em;
  color:white;
  left: 185px;
  top: 230px;
  text-align: justify;
}

.desktopTxt{
  position: absolute;
  width: 298px;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.22em;
  color: white;
  left: 185px;
  top: 289px;

}

.ambienteTxt{
  position: absolute;
  width: 398px;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.22em;
  color: white;
  left: 185px;
  top: 311px;
}

.portfolioTxt{
  position: absolute;
  width: 519px;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.22em;
  color: white;
  left: 185px;
  top: 333px;
}

.waitingTxt{
  position: absolute;
  width: 542px;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.22em;
  color: white;
  left: 185px;
  top: 356px;
}


.retNav{
  position: absolute;
  width: 566px;
  height: 31px;
  top: 150px;
  left: 160px;
  background: #DFD3D3;
}

.retBlue {
  position: absolute;
  width: 569px;
  height: 365px;
  border: 3px solid #24EED6;
  box-sizing: border-box;
  top:146px;
  left: 160px;
}

.retYellow{
  position: absolute;
  width: 569px;
  height: 365px;
  border: 3px solid #F7E017;
  box-sizing: border-box;
  top: 150px;
  left: 165px;
}

.retRed{
  position: absolute;
  width: 569px;
  height: 365px;
  border: 3px solid #EA1616;
  top: 154px;
  left: 170px;
}

.inicioBtn{
  position: absolute;
  background-color: white; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 12px;
  font: bold 18px/1 'Source Code Pro', monospace;
  left: 370px;
  top: 535px;
  border-color: white;

}

body{
  background-color: black;
}

.inicioBtn:hover{
  transition: .5s;
  background-color: rgb(0, 0, 0);
  color: white;
  border-color: white;
}

.about{
  height: 660px;
  width: 100%;
  background-color: white;

  background-position: 1000px 100px;
}