 html{
  scroll-behavior: smooth;
 }

 *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
} 

.navbar{
  
  height: 80px;
  width: 100%; 
  display: flex; 
  justify-content: space-around;
  align-items: center; 
  
  background: #000000;
} 

 .navbar-brand{
  color: white;
  margin-right: 15px;
  letter-spacing: 5px;
  font-size: 30px;
  line-height: 80px;
  padding:  140px;
  font-weight: 850;
  text-transform: uppercase;
  font-family:  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
  
.nav-ul{
  float: right;
  margin-right: 70px;
}

.nav-item{
  display: inline-block;
  line-height: 80px;
  margin: 0 4px; 
}

 .nav-link{
  line-height: 200px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  padding: 7px 13px;
  border-radius: 3px;
  letter-spacing: 0.1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  scroll-behavior: smooth;
} 

 .nav-link.active,.nav-link:hover{
  background: rgb(29, 28, 28);
  transition: .3s;
} 
  
.backg{
  height: 660px;
  width:100%;
}

.img {
  position: absolute;
  width: 382px;
  height: 400px;
  background: url(image/otso-face2.png);
  background-repeat: no-repeat;
  left: 880px;
  top: 150px;
}

.promptTitulo{
  position: absolute;
  width: 283px; 
  height: 42px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.22em;
  color: #000000;
  left: 170px;
  top: 140px;

}

.versionTxt{
  position: absolute;
  width: 327px;
  height: 37px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.22em;
  color:white;
  left: 185px;
  top: 169px;
}

.introTxt{
  position: absolute;
  width: 365px;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.22em;
  color:white;
  left: 185px;
  top: 205px;
}

.intro2Txt{
  position: absolute;
  width: 540px;
  height: 96px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  letter-spacing: 0.22em;
  color:white;
  left: 185px;
  top: 230px;
  text-align: justify;
}

.desktopTxt{
  position: absolute;
  width: 298px;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.22em;
  color: white;
  left: 185px;
  top: 289px;

}

.ambienteTxt{
  position: absolute;
  width: 398px;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.22em;
  color: white;
  left: 185px;
  top: 311px;
}

.portfolioTxt{
  position: absolute;
  width: 519px;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.22em;
  color: white;
  left: 185px;
  top: 333px;
}

.waitingTxt{
  position: absolute;
  width: 542px;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.22em;
  color: white;
  left: 185px;
  top: 356px;
}


.retNav{
  position: absolute;
  width: 566px;
  height: 31px;
  top: 150px;
  left: 160px;
  background: #DFD3D3;
}

.retBlue {
  position: absolute;
  width: 569px;
  height: 365px;
  border: 3px solid #24EED6;
  box-sizing: border-box;
  top:146px;
  left: 160px;
}

.retYellow{
  position: absolute;
  width: 569px;
  height: 365px;
  border: 3px solid #F7E017;
  box-sizing: border-box;
  top: 150px;
  left: 165px;
}

.retRed{
  position: absolute;
  width: 569px;
  height: 365px;
  border: 3px solid #EA1616;
  top: 154px;
  left: 170px;
}

.inicioBtn{
  position: absolute;
  background-color: white; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 12px;
  font: bold 18px/1 'Source Code Pro', monospace;
  left: 370px;
  top: 535px;
  border-color: white;

}

body{
  background-color: black;
}

.inicioBtn:hover{
  transition: .5s;
  background-color: rgb(0, 0, 0);
  color: white;
  border-color: white;
}

.about{
  height: 697px;
  width: 100%;
  background-position: 1000px 100px;
}

.whiteRetAbout{
  position: absolute;
  width: 697px;
  height: 697px;
  background-color: white;
}

.techTitle{
  position: absolute;
  width: 406px;
  height: 48px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: justify;
  font-weight: 850;
  letter-spacing: 0.08em;
  color: #000000;
  top: 28px;
  left: 195px;
}

.lineDivide{
  position: absolute;
  width: 450px;
  height: 0px;
  border: 2px solid #000000;
  left: 111px;
  top: 80px;
}

.lineDivideBlue{
  position: absolute;
  width: 450px;
  height: 0px;
  border: 2px solid #24EED6;
  left: 112px;
  top: 82px;
}

.lineDivideRed{
  position: absolute;
  width: 450px;
  height: 0px;
  border: 2px solid #EA1616;
  left: 114px;
  top: 83px;
}

.softwareTitle{
  position: absolute;
  width: 406px;
  height: 48px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.13em;
  color: #000000;
  top: 83px;
  left: 230px;
}


.jsSvg{
  position: absolute;
  width: 53px;
  height: 55px;
  background-image: url(image/javascript.svg);
  top: 195px;
  left: 150px;
}


.jsTitle{ 
  position: absolute;
  width: 115px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.13em;
  color: black;
  left: 130px;
  top: 245px;
}

.xpJs{
  position: absolute;
  width: 14px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 52px;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 0.13em;
  color: black;
  left: 62px;
  top: 265px;
}

.levelJs{
  position: absolute;
  width: 50px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.13em;
  color: black;
  left: 233px;
  top: 267px;
}

.greenBarJs{
  position: absolute;
  width: 47.33px;
  height: 1px;
  border: 3px solid;
  color: #7CFA68;
  left: 80px;
  top: 290px;
}

.whiteBarJs{
  position: absolute;
  width: 200px;
  height: 1px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 80px;
  top: 290px;
}

.htmlSvg{
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(image/html-5.svg);
  top: 195px;
  left: 453px;
}

.cssSvg{
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(image/css.svg);
  top: 195px;
  left: 530px;
}

.htmlTitle{
  position: absolute;
  width: 115px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.13em;
  color: black;
  left: 465px;
  top: 248px;
}

.greenBarHTML{
  position: absolute;
  width: 70px;
  height: 1px;
  border: 3px solid;
  color: #7CFA68;
  left: 420px;
  top: 290px;
}

.whiteBarHTML{
  position: absolute;
  width: 200px;
  height: 1px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 420px;
  top: 290px;
}

.xpHTML{
  position: absolute;
  width: 14px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 52px;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 0.13em;
  color: black;
  left: 403px;
  top: 265px;
}

.levelHTML{
  position: absolute;
  width: 50px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.13em;
  color: black;
  left: 595px;
  top: 267px;
}

.gitSvg{
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(image/git.svg);
  top: 370px;
  left: 110px;
}
.hubSvg{
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(image/github.svg);
  top: 370px;
  left: 187px;
}

.gitTitle{
  position: absolute;
  width: 115px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.10em;
  left: 127px;
  top: 440px;
}

.greenBarGit{
  position: absolute;
  width: 47.33px;
  height: 1px;
  border: 3px solid;
  color: #7CFA68;
  left: 80px;
  top: 470px;
}

.whiteBarGit{
  position: absolute;
  width: 200px;
  height: 1px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 80px;
  top: 470px;
}

.xpGit{
  position: absolute;
  width: 14px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 52px;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 0.13em;
  color: black;
  left: 62px;
  top: 445px;
}

.levelGit{
  position: absolute;
  width: 50px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.13em;
  color: black;
  left: 233px;
  top: 448px;
}

.psSvg{
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(image/photoshop-icon.svg);
  top: 370px;
  left: 490px;
}

.psTitle{
  position: absolute;
  width: 115px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.10em;
  left: 475px;
  top: 440px;
}

.whiteBarPs{
  position: absolute;
  width: 200px;
  height: 1px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 420px;
  top: 470px;
}

.greenBarPs{
  position: absolute;
  width: 47.33px;
  height: 1px;
  border: 3px solid;
  color: #7CFA68;
  left: 420px;
  top: 470px;
}

.xpPs{
  position: absolute;
  width: 14px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 52px;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 0.13em;
  color: black;
  left: 402px;
  top: 446px;
}

.levelPs{
  position: absolute;
  width: 50px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.13em;
  color: black;
  left: 590px;
  top: 448px;
}

.hatTitle{
  position: absolute;
  width: 450px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.10em;
  left: 140px;
  top: 565px;
}

.hatSchool{
  position: absolute;
  width: 300px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.10em;
  left: 250px;
  top: 590px;
}

.retNavAbout{
  position: absolute;
  width: 566px;
  height: 31px;
  top: 865px;
  left: 745px;
  background: #DFD3D3;
}

.retBlueAbout{
  position: absolute;
  width: 569px;
  height: 365px;
  border: 3px solid #24EED6;
  box-sizing: border-box;
  top: 860px;
  left: 740px;
}

.retYellowAbout{
  position: absolute;
  width: 569px;
  height: 365px;
  border: 3px solid #F7E017;
  box-sizing: border-box;
  top: 863px;
  left: 743px;
}

.retRedAbout{
  position: absolute;
  width: 569px;
  height: 365px;
  border: 3px solid #EA1616;
  box-sizing: border-box;
  top: 867px;
  left: 747px;
}

.promptTituloAbout{
  position: absolute;
  width: 283px; 
  height: 42px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.22em;
  color: #000000;
  top: 855px;
  left: 755px;
}

.versionTxtAbout {
  position: absolute;
  width: 327px;
  height: 37px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 52px;
  text-align: justify;
  letter-spacing: 0.22em;
  color:white;
  left: 758px;
  top: 885px;
}

.myLifeAbout{
  position: absolute;
  width: 365px;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.22em;
  color:white;
  left: 758px;
  top: 918px;
}

.historyAbout{
  position: absolute;
  width: 540px;
  height: 385px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.08em;
  color:white;
  left: 758px;
  top: 957px;
  text-align: justify;
}

.Project{
  height: 697px;
  width: 100%;
  background-position: 1000px 100px;
}

.whiteRetProject{
  position: absolute;
  width: 654px;
  height: 698px;
  background-color: white;
  left: 695px;
}

.ret1Black{
  position: absolute;
  width: 242px;
  height: 168px;
  border: 1px solid white;
  left: 70px;
  top: 1460px;
}

.ret2Black{
  position: absolute;
  width: 242px;
  height: 168px;
  border: 1px solid white;
  left: 390px;
  top: 1460px;
}

.ret3Black{
  position: absolute;
  width: 540px;
  height: 185px;
  border: 1px solid white;
  box-sizing: border-box;
  top: 1660px;
  left: 81px;

}

.ret4Black{
  position: absolute;
  width: 242px;
  height: 168px;
  border: 1px solid white;
  top: 1880px;
  left: 220px;

}

.ret1White{
  position: absolute;
  width: 616px;
  height: 170px;
  border: 1px solid black;
  box-sizing: border-box;
  transform: rotate(-90deg);
  top: 250px;
  left: -130px;
}

.ret2White{
  position: absolute;
  width: 616px;
  height: 170px;
  border: 1px solid black;
  box-sizing: border-box;
  transform: rotate(-90deg);
  top: 250px;
  left: 200px;
}